[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JeffCarver
[access "refs/for/refs/*"]
	read = group user/JeffCarver
	push = group user/JeffCarver
	label-Code-Review = -2..+2 group user/JeffCarver
	label-Verified = -1..+1 group user/JeffCarver
	rebase = group user/JeffCarver
	removeReviewer = group user/JeffCarver
	submit = group user/JeffCarver
[access "refs/heads/*"]
	read = group user/JeffCarver
	create = group user/JeffCarver
	push = +force group user/JeffCarver
	pushMerge = group user/JeffCarver
[access "refs/tags/*"]
	push = group user/JeffCarver
	push = +force group user/JeffCarver
